

.descriptionBlock {
    padding: 10px;
}

.sizeImg {
    background-size:1500px;
    max-width:1500px;
    max-height:500px;
    padding: 10px;
}

.mainPhoto {
    max-width: 300px;
    border: black solid 6px;
    border-radius: 20px;
}

.contact {
    padding-left: 10px;
}

.inputStyle {
    max-width: 300px;
    border: black solid 5px;
}
